In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [2]:
# Global variables
separator = "_"*20
divider = "\n" + "*"*90 + "\n"

data = {
    "MonthlyCharges": [70, 19, 45, 60, 80, 85, 50, 65, 95, 56],
    "Tenure": [12, 24, 5, 10, 18, 22, 4, 8, 5, 6],
    "Contract": ["Month-to-Month", "One year", "Month-to-month", "Two year", "One year", "Two year", "Month-to-month", "Two year", "One year", "Month-to-month"],
    "Churn": [1, 0, 1, 0, 0, 0, 1, 0, 0, 1]
}

# Step 2: Load and Prepare the Dataset
df = pd.DataFrame(data)

print(f"{separator} DataFrame: {separator}")
print(df)
print(divider)
print(f"{separator} DataFrame Summary: {separator}")
print(df.info())
print()
print(df.head())
print(divider)
print(f"{separator} Missing values: {separator}")
print(df.isnull().sum())

____________________ DataFrame: ____________________
   MonthlyCharges  Tenure        Contract  Churn
0              70      12  Month-to-Month      1
1              19      24        One year      0
2              45       5  Month-to-month      1
3              60      10        Two year      0
4              80      18        One year      0
5              85      22        Two year      0
6              50       4  Month-to-month      1
7              65       8        Two year      0
8              95       5        One year      0
9              56       6  Month-to-month      1

******************************************************************************************

____________________ DataFrame Summary: ____________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MonthlyCharges  10 non-null     int64
 1   Tenure          10 non-null     int64
 2   Contract        10 non-null     object
 3   Churn           10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

   MonthlyCharges  Tenure        Contract  Churn
0              70      12  Month-to-Month      1
1              19      24        One year      0
2              45       5  Month-to-month      1
3              60      10        Two year      0
4              80      18        One year      0

******************************************************************************************

____________________ Missing values: ____________________
MonthlyCharges    0
Tenure            0
Contract          0
Churn             0
dtype: int64

In [3]:
print(df)

   MonthlyCharges  Tenure        Contract  Churn
0              70      12  Month-to-Month      1
1              19      24        One year      0
2              45       5  Month-to-month      1
3              60      10        Two year      0
4              80      18        One year      0
5              85      22        Two year      0
6              50       4  Month-to-month      1
7              65       8        Two year      0
8              95       5        One year      0
9              56       6  Month-to-month      1

In [4]:
# Step 3: Define features (x) and target (y)
x = df[["MonthlyCharges", "Tenure", "Contract"]]
y = df["Churn"]

In [5]:
# Step 4: Convert categorical variables into one-hot numeric arrays
# Apply different transformation to different columns

categorical_features = ["Contract"]
onehot_encoder = OneHotEncoder()
preprocessor = ColumnTransformer(
    transformers = [
        ("Cat", onehot_encoder, categorical_features)
    ],
    remainder = "passthrough"
)

In [6]:
# Step 5: Chain preprocessing and modeling steps together
# pipeline = Pipeline(steps=[
#     ("preprocessor", 
# ]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MonthlyCharges  10 non-null     int64
 1   Tenure          10 non-null     int64
 2   Contract        10 non-null     object
 3   Churn           10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None